.about {
    width: 700px;
    font-family: "Open Sans Light", sans-serif;
    font-size: 18px;
    color: #221f1f;
    line-height: 30px;
}
.about p {
    margin-bottom: 15px;
}
.about strong {
    font-family: "Open Sans Bold", sans-serif;
}
.about em {
    font-family: "Open Sans LightItalic", sans-serif;
}
.about__black-background {
    background-color: #131415;
    color: #ffffff;
    padding: 13px 30px 1px;
}
.about ul {
    list-style: none;
    margin-bottom: 24px;
}
.about li {
    margin-bottom: 4px;
}
.about li:before {
    content: '•';
    display: inline-block;
    padding-right: 24px;
    padding-left: 12px;
}
