.dropdown {
    position: absolute;
    left: -9999px;
    opacity: 0;
    transition: opacity .3s linear;
}
.dropdown:before {
    content: '';
    display: block;
    height: 20px;
    left: 0;
    right: 0;
    top: -19px;
}
.contacts__working-hours:hover .dropdown {
    left: auto;
    right: 0;
    opacity: 1;
    z-index: 5;
}
.dropdown__content {
    border-radius: 2px;
    background-color: #ffffff;
    padding: 18px 20px;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(23,59,117, .55);
}
.dropdown__work-time,
.dropdown__lunch-time {
    display: block;
    text-align: left;
}
.dropdown__work-time {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
    color: #f89513;
}
.dropdown__lunch-time {
    font-family: "Open Sans Light", sans-serif;
    font-size: 14px;
    color: #221f1f;
}
.dropdown__triangle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(23,59,117, .55);
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-135deg);
    margin-top: -9px;
    margin-right: 4px;
}
